<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title></title>

    <script>
        async function plot() {
            let rsp_section_one = await fetch("/graph/section_one");
            if (rsp_section_one.ok) {
                let chartJson = await rsp_section_one.json();
                if (rsp_section_one.ok) {
                    Plotly.newPlot('chart_section_one', chartJson, {});
                } else {
                    alert("HTTP-Error: " + rsp_section_one.status + "on getInfo");
                }
            } else {
                alert("HTTP-Error: " + rsp_section_one.status + "on getStock");
            }
            let rsp_yangjae = await fetch("/graph/yangjae");
            if (rsp_yangjae.ok) {
                let chartJson = await rsp_yangjae.json();
                if (rsp_yangjae.ok) {
                    Plotly.newPlot('chart_yangjae', chartJson, {});
                } else {
                    alert("HTTP-Error: " + rsp_yangjae.status + "on getInfo");
                }
            } else {
                alert("HTTP-Error: " + rsp_yangjae.status + "on getStock");
            }
        }
    </script>
</head>

<body>
    
    <!-- <button type="button" class="btn btn-primary" onclick="plot()">show graph</button> -->
    <h2> 1구역 대지면적 평당가격</h2>
    <div id="chart_section_one" class="chart" style="height: 300px;border: 1px solid; box-shadow: 5px 5px 5px #888888;">
    </div>
    <h2> 양재2동 대지면적 평당가격</h2>
    <div id="chart_yangjae" class="chart" style="height: 300px;border: 1px solid; box-shadow: 5px 5px 5px #888888;">       
    </div>
    <script>plot();</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>